.footer-section {
    position: "fixed";
    width: "100%";
    height: 275px;
    background-color: #193c4f;
    color: white;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .footer-section {
        height: 200px;
    }
}

.icon {
    margin: 5%;
    font-size: 50px;
    padding: 0.05rem;
}